@font-face {
  font-family: "wza-iconfont"; /* Project id 2191923 */
  src: url('../fonts/iconfont.eot'); /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.wza-iconfont {
  font-family: "wza-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wza-icon-icon--:before {
  content: "\e773";
}

.wza-icon-shubiao:before {
  content: "\e641";
}

.wza-icon-shubiao1:before {
  content: "\e65b";
}

.wza-icon-pingmusuoxiao:before {
  content: "\e600";
}

.wza-icon-shengyin:before {
  content: "\e626";
}

.wza-icon-tuichuquanping:before {
  content: "\e67a";
}

.wza-icon-shengyinyinliangxianxing:before {
  content: "\e6c0";
}

.wza-icon-quanping:before {
  content: "\e6ec";
}

.wza-icon-LEDxianshipingguanli:before {
  content: "\e60b";
}

.wza-icon-Settings:before {
  content: "\e62e";
}

.wza-icon-zhangshangcaifuyemianshoujiban345:before {
  content: "\e632";
}

.wza-icon-jiasu:before {
  content: "\e65a";
}

.wza-icon-wanzhuanzhangting-lianxuzhangtingjiantou:before {
  content: "\e794";
}

.wza-icon-jijiansu:before {
  content: "\e631";
}

.wza-icon-zuoqianjin:before {
  content: "\e6b9";
}

.wza-icon-iconset0230:before {
  content: "\e681";
}

.wza-icon-084tuichu:before {
  content: "\e659";
}

.wza-icon-refresh:before {
  content: "\e65e";
}

.wza-icon-shouzhi:before {
  content: "\e69b";
}

.wza-icon-suoxiao1:before {
  content: "\ec13";
}

.wza-icon-fangda1:before {
  content: "\ec14";
}

.wza-icon-biangengcheliangyanse:before {
  content: "\e60a";
}

.wza-icon-xingzhuang:before {
  content: "\e60f";
}

.wza-icon-youqianjin1:before {
  content: "\e6b7";
}

.wza-icon-fuzhuxian:before {
  content: "\e651";
}

.wza-icon-fangda:before {
  content: "\e60d";
}

.wza-icon-suoxiao:before {
  content: "\e61f";
}

.wza-icon-liebiaolan:before {
  content: "\e723";
}

